archive/
results/*.dat
results/*.log
scripts/*.avi
scripts/*.mp4
output/
src/data/
data/anim_angles.cpp
data/anim_speeds.cpp
data/anim_angles.csv
data/anim_speeds.csv
data/anim_angles*.cpp
data/anim_speeds*.cpp
data/anim_angles*.csv
data/anim_speeds*.csv
data/anim_angles_180815_S1_S2_lightVSdarkness_merged.cpp
data/anim_speeds_180815_S1_S2_lightVSdarkness_merged.cpp
data/anim_angles_180815_S1_S2_lightVSdarkness_merged_40min.cpp
data/anim_speeds_180815_S1_S2_lightVSdarkness_merged_40min.cpp
data/anim_angles_191108_S1_lightVSdarkness_cells11and12.cpp
data/anim_speeds_191108_S1_lightVSdarkness_cells11and12.cpp
data/anim_angles_191108_S1_lightVSdarkness_cells11and12_scaleddown.cpp
data/anim_speeds_191108_S1_lightVSdarkness_cells11and12_scaleddown.cpp
data/anim_angles_limited.cpp
data/anim_speeds_limited.cpp
data/test_data_angles.cpp
data/test_data_speeds.cpp
data/synapse_weights_backup.csv
scripts/high_res_traj/test_data_angles.cpp
scripts/high_res_traj/test_data_speeds.cpp
scripts/high_res_traj/test_data_angles.csv
scripts/high_res_traj/test_data_speeds.csv
scripts/high_res_traj/test_data_x.csv
scripts/high_res_traj/test_data_y.csv
scripts/high_res_traj/191108_S1_lightVSdarkness_cells11and12_scaleddown_Xs_40min.mat
scripts/high_res_traj/191108_S1_lightVSdarkness_cells11and12_scaleddown_Ys_40min.mat
scripts/high_res_traj/anim_trajx.csv
scripts/high_res_traj/anim_trajy.csv
scripts/high_res_traj/highres_spikes.csv
scripts/high_res_traj/*.jpg
scripts/high_res_traj/*.png
scripts/high_res_traj/*.csv
scripts/generate_weights/examples
scripts/generate_weights/*.jpg
scripts/generate_weights/*.png
scripts/generate_weights/synapse_weights.cpp
scripts/generate_weights/synapse_weights.csv
scripts/generate_params/*.cpp
scripts/generate_params/*.csv
scripts/generate_params/*.jpg
scripts/generate_params/*.png
scripts/*.jpg
scripts/*.png
scripts/gridscore/*.jpg
scripts/gridscore/*.png
data/mex_hat_bup.cpp
data/mex_hat.cpp
data/synapse_weights.cpp
data/synapse_weights.csv
data/grc_to_in_conns.csv
data/*.csv
scripts/param_explore/archive/*.jpg
scripts/param_explore/archive/*.png
scripts/param_explore/archive/*.jpeg
scripts/param_explore/plotting/*.jpg
scripts/param_explore/plotting/*.png
scripts/param_explore/plotting/*.jpeg
scripts/param_explore/plotting/archive/*.jpg
scripts/param_explore/plotting/archive/*.png
scripts/param_explore/plotting/archive/*.jpeg
scripts/param_explore/config_files/archive/*.jpg
scripts/param_explore/config_files/archive/*.png
scripts/param_explore/config_files/archive/*.jpeg
scripts/param_explore/output/archive/*.jpg
scripts/param_explore/output/archive/*.png
scripts/param_explore/output/archive/*.jpeg
*/archive/*.jpg
*/archive/*.png
*/archive/*.jpeg
scripts/firing_rate_records.txt
